<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>Bienvenido:
        <a href="/index/home"><strong class="userName">{{user.rank}}
            {{user.first_name}}
            {{user.last_name}}</strong></a></p>
      <p>Rol: <strong id="readRole">{{user.role}}</strong></p>
      <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
    </div>
  </div>
  <div id="userFinesBody">
    <h2>Todas las multas de vehículos terrestres:</h2>
    <div>
      <div id="fineSearchContainer">
        <h3>Prompts de búsqueda:</h3>
        <div class="fineSearchInputs">
          <div class="fineSearchCard">
            <div>
              <label for="fine_number">Número: </label>
              <input
                name="fine_number"
                type="number"
                placeholder="De la multa"
              />
            </div>
            <div>
              <label for="fine_date">Fecha: </label>
              <input name="fine_date" type="text" placeholder="aaaa-mm-dd" />
            </div>
          </div>
          <div class="fineSearchCard">
            <div>
              <label for="fine_article">Artículo: </label>
              <input
                name="fine_article"
                type="text"
                placeholder="Decreto 100/91"
              />
            </div>
            <div>
              <label for="fine_amount">Monto: </label>
              <input name="fine_amount" type="number" placeholder="En U.R." />
            </div>
          </div>
          <div class="fineSearchCard">
            <div>
              <label for="fine_author">Autor: </label>
              <input
                name="fine_author"
                type="text"
                placeholder="Email ARMADA"
              />
            </div>
            <div>
              <label for="fine_status">Estado: </label>
              <select name="fine_status" id="fine_status">
                <option selected disabled value="">Elegir...</option>
                <option value="paid">PAGA</option>
                <option value="due">IMPAGA</option>
                <option value="dismissed">DESESTIMADA</option>
              </select>
            </div>
            <div>
              <label for="car_reg_number">Matrícula: </label>
              <input
                name="car_reg_number"
                type="text"
                placeholder="Sin espacios"
              />
            </div>
          </div>
          <div class="fineSearchCard">
            <div>
              <label for="car_brand">Marca: </label>
              <input
                name="car_brand"
                type="text"
                placeholder="BMW, Audi, Peugeot, etc."
              />
            </div>
            <div>
              <label for="car_model">Modelo: </label>
              <input
                name="car_model"
                type="text"
                placeholder="M3, Q5, 208, etc."
              />
            </div>
          </div>
          <div class="fineSearchCard">
            <div>
              <label for="owner_name">Nombre: </label>
              <input
                name="owner_name"
                type="text"
                placeholder="Propietario del vehículo"
              />
            </div>
            <div>
              <label for="owner_ci">C.I. / Pass: </label>
              <input
                name="owner_ci"
                type="number"
                placeholder="Sin puntos ni guiones"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <button id="filterBtn" class="filterBtn">APLICAR FILTROS</button>
    <div id="fineCardContainer">
      {{#each paginatedFines}}
        <div class="fineCard">
          <div class="fineDivPrime">
            <div class="fineDiv borderAlign">
              <h3 class="fineDivPrimeTitle">Datos de la multa:</h3>
              <div class="fineSubDiv fine_number">
                <strong class="fineDivTitle">N°:</strong>
                <p>{{fine_number}}</p>
              </div>
            </div>
            <div class="fineDiv wSubDiv">
              <div class="fineSubDiv">
                <strong class="fineDivTitle">ID:</strong>
                <p id="_id">{{_id}}</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Fecha:</strong>
                <p>{{fine_date}}</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Hora:</strong>
                <p>{{fine_time}}</p>
              </div>
            </div>
            <div class="fineDiv">
              <strong class="fineDivTitle">Fundamento de derecho:</strong>
              <p>{{fine_article}}</p>
            </div>
            <div class="fineDiv wSubDiv">
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Monto:</strong>
                <p>{{fine_amount}} U.R.</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Extra:</strong>
                <p>{{fine_extra_amount}} U.R.</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Autor:</strong>
                <p>{{fine_author}}</p>
              </div>
            </div>
          </div>
          <div class="fineDivPrime">
            <h3 class="fineDivPrimeTitle">Datos del vehículo:</h3>
            <div class="fineDiv wSubDiv">
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Marca:</strong>
                <p>{{car_brand}}</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Modelo:</strong>
                <p>{{car_model}}</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Matrícula:</strong>
                <p>{{car_reg_number}}</p>
              </div>
            </div>
          </div>
          <div class="fineDivPrime">
            <h3 class="fineDivPrimeTitle">Datos del propietario:</h3>
            <div class="fineDiv wSubDiv">
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Nombre:</strong>
                <p>{{owner_name}}</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">C.I.:</strong>
                <p>{{owner_ci}}</p>
              </div>
            </div>
            <div class="fineDiv wSubDiv">
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Dirección:</strong>
                <p>{{owner_dir}}</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Teléfono:</strong>
                <p>{{owner_tel}}</p>
              </div>
            </div>
          </div>
          <div class="fineDiv wSubDiv">
            <div class="fineSubDiv provesBtn">
              <a href="{{fine_proves}}" target="_blank">EVIDENCIAS</a>
            </div>
            <div class="fineSubDiv statusIndicator{{fine_status}}">
              <button
                data-id="{{_id}}"
                data-number="{{fine_number}}"
                data-status="{{fine_status}}"
                class="fineStatusBtn"
              >ESTADO</button>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div id="pagination">
      <div id="paginationBtns">
        <a href="{{prevLink}}" class="abled-{{hasPrevPage}}"><strong>« Anterior</strong></a>
        <p>Página
          <strong>{{page}}</strong>
          de
          <strong>{{totalPages}}</strong></p>
        <a href="{{nextLink}}" class="abled-{{hasNextPage}}"><strong>Siguiente »</strong></a>
      </div>
      <p id="paginationInfo">Se encontró un total de
        <strong>{{totalDocs}}</strong>
        multa/s.</p>
    </div>
    <div class="btnBackCont">
      <a class="btnBack" href="/index/carFinesMenu/">VOLVER</a>
    </div>
    <br />
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/assets/js/allCarFines.js"></script>
</div>