<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>Bienvenido:
        <a href="/index/home"><strong class="userName">{{user.rank}}
            {{user.first_name}}
            {{user.last_name}}</strong></a></p>
      <p>Rol: <strong id="readRole">{{user.role}}</strong></p>
      <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
    </div>
  </div>
  <div id="userFinesBody">
    <h2>Todos los usuarios:</h2>
    <div>
      <div id="fineSearchContainer">
        <h3>Prompts de búsqueda:</h3>
        <div class="userSearchInputs">
          <div class="userSearchCard">
            <div class="userSearchInputCard">
              <label for="first_name">Nombre/s: </label>
              <input
                name="first_name"
                type="text"
                placeholder="Primer y/o segundo nombre..."
              />
            </div>
            <div class="userSearchInputCard">
              <label for="last_name">Apellido/s: </label>
              <input
                name="last_name"
                type="text"
                placeholder="Primer y/o segundo apellido..."
              />
            </div>
          </div>
          <div class="userSearchCard">
            <div class="userSearchInputCard">
              <label for="rank">Grado: </label>
              <select name="rank" id="rank">
                <option selected disabled value="">Elegir...</option>
                <option value="PC">Personal Civil</option>
                <option value="MP">Marinero de Primera</option>
                <option value="CS">Cabo de Segunda</option>
                <option value="CP">Cabo de Primera</option>
                <option value="SOS">Sub Oficial de Segunda</option>
                <option value="SOP">Sub Oficial de Primera</option>
                <option value="SOC">Sub Oficial de Cargo</option>
                <option value="GM">Guardia Marina</option>
                <option value="AF">Alférez de Fragata</option>
                <option value="AN">Alférez de Navío</option>
                <option value="TN">Teniente de Navío</option>
                <option value="CC">Capitán de Corbeta</option>
                <option value="CF">Capitán de Fragata</option>
                <option value="CN">Capitán de Navío</option>
                <option value="CA">Contralmirante</option>
                <option value="ALM">Almirante</option>
              </select>
            </div>
            <div class="userSearchInputCard">
              <label for="email">Email: </label>
              <input name="email" type="email" placeholder="Email ARMADA..." />
            </div>
          </div>
          <div class="userSearchCard">
            <div class="userSearchInputCard">
              <label for="role">Rol:</label>
              <select name="role" id="role">
                <option selected disabled value="">Elegir...</option>
                <option value="consulta">Consulta</option>
                <option value="user">Usuario</option>
                <option value="contable">Contable</option>
                <option value="admin">Administrador</option>
                <option value="superAdmin">Super Administrador</option>
              </select>
            </div>
            <div class="userSearchInputCard">
              <label for="fines">Multas realizadas: </label>
              <input name="fines" type="number" placeholder="#..." />
            </div>
          </div>
        </div>
      </div>
    </div>
    <button id="filterBtn" class="filterBtn">APLICAR FILTROS</button>
    <div id="fineCardContainer">
      {{#each paginatedUsers}}
        <div class="userCard">
          <h3 class="fineDivPrimeTitle">Datos del usuario:</h3>
          <div class="userDiv">
            <div class="userSubDiv">
              <strong class="userDivTitle">Foto de perfil:</strong>
              <img class="allUsersPic" src="{{avatar}}" alt="perfil" />
            </div>
            <div class="userDiv borderAlign">
              <div class="userSubDiv">
                <div class="userSubSubDiv">
                  <strong class="userDivTitle">Nombre completo:</strong>
                  <strong class="userCardData">{{first_name}}
                    {{last_name}}</strong>
                </div>
                <div class="userSubSubDiv">
                  <strong class="userDivTitle">ID:</strong>
                  <strong class="userCardData" id="_id">{{_id}}</strong>
                </div>
              </div>
              <div class="userSubDiv">
                <div class="userSubSubDiv">
                  <strong class="userDivTitle">Grado:</strong>
                  <strong class="userCardData">{{rank}}</strong>
                </div>
                <div class="userSubSubDiv">
                  <strong class="userDivTitle">Email:</strong>
                  <strong class="userCardData">{{email}}</strong>
                </div>
              </div>
              <div class="userSubDiv">
                <div class="userSubSubDiv">
                  <strong class="userDivTitle">Rol:</strong>
                  <strong class="userCardData">{{role}}</strong>
                </div>
                <div class="userSubSubDiv">
                  <strong class="userDivTitle">Multas realizadas:</strong>
                  <strong class="userCardData">{{fines}}</strong>
                </div>
              </div>
            </div>
          </div>

        </div>
      {{/each}}
    </div>
    <div id="pagination">
      <div id="paginationBtns">
        <a href="{{prevLink}}" class="abled-{{hasPrevPage}}"><strong>« Anterior</strong></a>
        <p>Página
          <strong>{{page}}</strong>
          de
          <strong>{{totalPages}}</strong></p>
        <a href="{{nextLink}}" class="abled-{{hasNextPage}}"><strong>Siguiente »</strong></a>
      </div>
      <p id="paginationInfo">Se encontró un total de
        <strong>{{totalDocs}}</strong>
        usuario/s.</p>
    </div>
    <div class="btnBackCont">
      <a class="btnBack" href="/index/carFinesMenu/">VOLVER</a>
    </div>
    <br />
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/assets/js/allUsers.js"></script>
</div>