<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>Bienvenido:
        <a href="/index/home"><strong class="userName">{{user.rank}}
            {{user.first_name}}
            {{user.last_name}}</strong></a></p>
      <p>Rol: <strong id="readRole">{{user.role}}</strong></p>
      <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
    </div>
  </div>
  <div>
    {{#unless carFine}}
      <form class="formStyle" action="/api/carFines/findBy/number/delete" method="get">
        <h3 class="formTitle">ELIMINAR MULTA DE VEHÍCULO TERRESTRE:</h3>
        <p class="formSubTitle">Ingrese el N° de la multa a eliminar:</p>
        <div class="formGroup">
          <br />
          <input
            class="formInput"
            type="number"
            id="fine_number"
            name="fine_number"
            placeholder="#..."
            required
          />
        </div>
        <div class="submitCont">
          <input id="formSubmit" type="submit" value="BUSCAR MULTA" />
        </div>
      </form>
    {{/unless}}
    {{#if carFine}}
      <h3 class="formTitle">{{msg}}</h3>
      <form
        class="formStyle"
        action="/api/carFines/delete/{{fine_number}}"
        method="get"
      >
        <div class="fineCard">
          <div class="fineDivPrime">
            <div class="fineDiv borderAlign">
              <h3 class="fineDivPrimeTitle">Datos de la multa:</h3>
              <div class="fineSubDiv fine_number">
                <strong class="fineDivTitle">N°:</strong>
                <p>{{fine_number}}</p>
              </div>
            </div>
            <div class="fineDiv wSubDiv">
              <div class="fineSubDiv">
                <strong class="fineDivTitle">ID:</strong>
                <p id="_id">{{_id}}</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Fecha:</strong>
                <p>{{fine_date}}</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Hora:</strong>
                <p>{{fine_time}}</p>
              </div>
            </div>
            <div class="fineDiv">
              <strong class="fineDivTitle">Fundamento de derecho:</strong>
              <p>{{fine_article}}</p>
            </div>
            <div class="fineDiv wSubDiv">
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Monto:</strong>
                <p>{{fine_amount}} U.R.</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Extra:</strong>
                <p>{{fine_extra_amount}} U.R.</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Autor:</strong>
                <p>{{fine_author}}</p>
              </div>
            </div>
          </div>
          <div class="fineDivPrime">
            <h3 class="fineDivPrimeTitle">Datos del vehículo:</h3>
            <div class="fineDiv wSubDiv">
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Marca:</strong>
                <p>{{car_brand}}</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Modelo:</strong>
                <p>{{car_model}}</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Matrícula:</strong>
                <p>{{car_reg_number}}</p>
              </div>
            </div>
          </div>
          <div class="fineDivPrime">
            <h3 class="fineDivPrimeTitle">Datos del propietario:</h3>
            <div class="fineDiv wSubDiv">
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Nombre:</strong>
                <p>{{owner_name}}</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">C.I.:</strong>
                <p>{{owner_ci}}</p>
              </div>
            </div>
            <div class="fineDiv wSubDiv">
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Dirección:</strong>
                <p>{{owner_dir}}</p>
              </div>
              <div class="fineSubDiv">
                <strong class="fineDivTitle">Teléfono:</strong>
                <p>{{owner_tel}}</p>
              </div>
            </div>
          </div>
          <div class="fineDiv wSubDiv">
            <div class="fineSubDiv provesBtn">
              <a href="{{fine_proves}}" target="_blank">EVIDENCIAS</a>
            </div>
            <div class="fineSubDiv statusIndicator{{fine_status}}">
              <button
                data-id="{{_id}}"
                data-number="{{fine_number}}"
                data-status="{{fine_status}}"
                class="fineStatusBtn"
                type="button"
              >ESTADO</button>
            </div>
          </div>
        </div>
        <div class="submitCont">
          <input id="updateFormSubmit" type="submit" value="ELIMINAR MULTA" />
        </div>
      </form>
      <div id="subBodyText">
        <p><strong>LEA CON ATENCIÓN:</strong>
          La eliminación de la multa será de forma
          <strong>PERMAMENTE</strong>. Verifique con tiempo los datos de la multa que esta por eliminar para evitar inconvenientes.
          <strong>El sistema registra qué usuario llevó a cabo la eliminación
            de la multa</strong>
          con el propósito de proporcionar esta información para las auditorías
          que se llevarán a cabo.</p>
      </div>
    {{else}}
      <div class="formStyle">
        <h3 class="formTitle">{{msg}}</h3>
      </div>
    {{/if}}
    <div class="btnBackCont">
      <a class="btnBack" href="/index/carFinesMenu/">VOLVER</a>
    </div>
    <br />
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/assets/js/allCarFines.js"></script>
</div>