<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>Bienvenido:
        <a href="/index/home"><strong class="userName">{{user.rank}}
            {{user.first_name}}
            {{user.last_name}}</strong></a></p>
      <p>Rol: <strong id="readRole">{{user.role}}</strong></p>
      <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
    </div>
  </div>
  <div class="homeBody">
    <div class="userInfo">
      <img src="{{user.avatar}}" alt="profilePic" onerror="this.src='/img/avatar.png'"/>
      <div class="userInfoGroup">
        <label for="name"><strong>Nombre:</strong></label>
        <p id="name">{{user.first_name}} {{user.last_name}}</p>
      </div>
      <div class="userInfoGroup">
        <label for="rank"><strong>Grado:</strong></label>
        <p id="rank">{{user.rank}}</p>
      </div>
      <div class="userInfoGroup">
        <label for="email"><strong>Email:</strong></label>
        <p id="email">{{user.email}}</p>
      </div>
      <div class="userInfoGroup">
        <label for="role"><strong>Rol:</strong></label>
        <p id="role">{{user.role}}</p>
      </div>
      <div class="userInfoGroup">
        <label for="fines"><strong>Multas realizadas:</strong></label>
        <p id="fines">{{finesQuantity}}</p>
      </div>
      <div class="userInfoGroup">
        <a class="userInfoBtn" href="/index/userFines">MIS MULTAS</a>
      </div>
      <div class="userInfoGroup">
        <a class="userInfoBtn" href="/index/updatePasswordForm">CAMBIAR CONTRASEÑA</a>
      </div>
      <div class="userInfoGroup">
        <a class="userInfoBtn" href="#">ACTUALIZAR DATOS</a>
      </div>
    </div>
    <div class="categoriesBody">
      <h3>MULTAS DE VEHÍCULOS TERRESTRES:</h3>
      <div class="categoryCont">
        <a id="createCarFineCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>CARGAR</p>
        </a>
        <a id="readCarFineCard" class="categoryCard" href="/index/userFines">
          <img src="" alt="" />
          <p>CONSULTAR</p>
        </a>
        <a id="updateCarFineCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>MODIFICAR</p>
        </a>
        <a id="deleteCarFineCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>BORRAR</p>
        </a>
      </div>
      <h3>MULTAS DE BUQUES:</h3>
      <div class="categoryCont">
        <a id="createShipFineCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>CARGAR</p>
        </a>
        <a id="readShipFineCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>CONSULTAR</p>
        </a>
        <a id="updateShipFineCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>MODIFICAR</p>
        </a>
        <a id="deleteShipFineCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>BORRAR</p>
        </a>
      </div>
      <h3>GESTIÓN DE USUARIOS:</h3>
      <div class="categoryCont">
        <a id="createUserCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>CREAR</p>
        </a>
        <a id="readUserCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>CONSULTAR</p>
        </a>
        <a id="updateUserCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>MODIFICAR</p>
        </a>
        <a id="deleteUserCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>BORRAR</p>
        </a>
      </div>
    </div>
  </div>
  <script src="/assets/js/home.js"></script>
</div>