<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>Bienvenido:
        <a href="/index/home"><strong class="userName">{{user.rank}}
            {{user.first_name}}
            {{user.last_name}}</strong></a></p>
      <p>Rol: <strong id="readRole">{{user.role}}</strong></p>
      <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
    </div>
  </div>
  <div>
    {{#unless userFound}}
      <form
        class="formStyle"
        action="/api/users/update/userUpdate"
        method="get"
      >
        <h3 class="formTitle">MODIFICAR USUARIO:</h3>
        <p class="formSubTitle">Ingrese el ID del usuario a actualizar:</p>
        <div class="formGroup">
          <br />
          <input
            class="formInput"
            type="text"
            id="id"
            name="id"
            placeholder="ID..."
            required
          />
        </div>
        <div class="submitCont">
          <input id="formSubmit" type="submit" value="BUSCAR USUARIO" />
        </div>
      </form>
    {{/unless}}
    {{#if userFound}}
      <h3 class="formTitle">{{msg}}</h3>
      <form class="formStyle" action="/api/users/updateUser/{{_id}}" method="get">
        <p class="formSubTitle">Datos del usuario:</p>
        <div class="formGroup">
          <label for="first_name">Nombre/s<span
              class="formAst"
            >*</span>:</label>
          <input
            class="formInput"
            type="text"
            id="first_name"
            name="first_name"
            value="{{first_name}}"
            required
          />
        </div>
        <div class="formGroup">
          <label for="last_name">Apellido/s<span
              class="formAst"
            >*</span>:</label>
          <input
            class="formInput"
            type="text"
            id="last_name"
            name="last_name"
            value="{{last_name}}"
            required
          />
        </div>
        <div class="formGroup">
          <label for="rank">Grado:<span class="formAst">*</span>:</label>
          <select class="formInput" id="rank" name="rank" required>
            <option value="{{rank}}" selected>{{rank}}
              (DATO ACTUAL)</option>
            <option value="PC">Personal Civil</option>
            <option value="MP">Marinero de Primera</option>
            <option value="CS">Cabo de Segunda</option>
            <option value="CP">Cabo de Primera</option>
            <option value="SOS">Sub Oficial de Segunda</option>
            <option value="SOP">Sub Oficial de Primera</option>
            <option value="SOC">Sub Oficial de Cargo</option>
            <option value="GM">Guardia Marina</option>
            <option value="AF">Alférez de Fragata</option>
            <option value="AN">Alférez de Navío</option>
            <option value="TN">Teniente de Navío</option>
            <option value="CC">Capitán de Corbeta</option>
            <option value="CF">Capitán de Fragata</option>
            <option value="CN">Capitán de Navío</option>
            <option value="CA">Contralmirante</option>
            <option value="ALM">Almirante</option>
          </select>
        </div>
        <div class="formGroup">
          <label for="email">Email<span class="formAst">*</span>:</label>
          <input
            class="formInput"
            type="email"
            id="email"
            name="email"
            placeholder="Debe ser un email ARMADA..."
            value={{email}}
            required
          />
        </div>
        <div class="formGroup">
          <label for="role">Rol<span class="formAst">*</span>:</label>
          <select class="formInput" name="role" required>
            <option value="" selected disabled>{{role}} (DATO ACTUAL)</option>
            <option value="consulta">Consulta</option>
            <option value="user">Usuario</option>
            <option value="contable">Contable</option>
            <option value="admin">Administrador</option>
            <option value="superAdmin">Super Administrador</option>
          </select>
        </div>
        <p class="formAst">* Datos obligatorios para modificar el usuario.</p>
        <div class="submitCont">
          <input
            id="updateFormSubmit"
            type="submit"
            value="MODIFICAR USUARIO"
          />
        </div>
      </form>
      <div id="subBodyText">
        <p><strong>ATENCIÓN ADMINISTRADOR:</strong>
          Para la modificación de usuarios,
          <strong>todos los datos son obligatorios</strong>. Los detalles del
          usuario se mostrarán previamente en los espacios designados para la
          modificación, proporcionando una guía de los datos a alterar. Tenga en
          cuenta que
          <strong>el sistema registra qué usuario llevó a cabo la modificación
            del usuario</strong>
          con el propósito de proporcionar esta información para las auditorías
          que se llevarán a cabo.</p>
      </div>
    {{else}}
      <div class="formStyle">
        <h3 class="formTitle">{{msg}}</h3>
      </div>
    {{/if}}
    <div class="btnBackCont">
      <a class="btnBack" href="/index/usersMenu/">VOLVER</a>
    </div>
    <br />
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/assets/js/allCarFines.js"></script>
</div>