<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>Bienvenido:
        <a href="/index/home"><strong class="userName">{{user.rank}}
            {{user.first_name}}
            {{user.last_name}}</strong></a></p>
      <p>Rol: <strong id="readRole">{{user.role}}</strong></p>
      <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
    </div>
  </div>
  <div>
    <form
      class="formStyle"
      action="/api/users/updatePasswordForm"
      method="post"
    >
      <h3 id="backMsg">{{msg}}</h3>
      <br />
      <h3>Por favor, ingrese su nueva contraseña y luego confirmela:</h3>
      <br />
      <h2 id="userEmail">{{email}}</h2>
      <br />
      <div class="formGroup">
        <label for="newPassword">Nueva contraseña:</label>
        <input
          class="formInput"
          type="password"
          name="newPassword"
          id="newPassword"
          placeholder=""
          required
        />
      </div>
      <div class="formGroup">
        <label for="confirmPassword">Confirme la contraseña:</label>
        <input
          class="formInput"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder=""
          required
        />
      </div>
      <br />
      <div class="submitCont">
        <input id="formSubmit" type="submit" value="ACTUALIZAR CONTRASEÑA" />
      </div>
    </form>
  </div>
</div>