<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>Bienvenido:
        <a href="/index/home"><strong class="userName">{{user.rank}}
            {{user.first_name}}
            {{user.last_name}}</strong></a></p>
      <p>Rol: <strong id="readRole">{{user.role}}</strong></p>
      <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
    </div>
  </div>
  <div>
    <form class="formStyle" action="/api/users/updateDataForm" method="post">
      <br />
      <h3>Por favor, actualice los datos que estime necesarios<span
          class="formAst"
        >*</span>:</h3>
      <br />
      <input
        style="display:none"
        value="{{user._id}}"
        type="text"
        name="_id"
        id="_id"
      />
      <div class="formGroup">
        <input
          style="display:none"
          value="{{user.first_name}}"
          type="text"
          name="first_name"
          id="first_name"
        />
        <label for="newName">Nombre:</label>
        <input
          class="formInput"
          type="text"
          name="newFirstName"
          id="newName"
          value="{{user.first_name}}"
          placeholder=""
          required
        />
      </div>
      <div class="formGroup">
        <input
          style="display:none"
          value="{{user.last_name}}"
          type="text"
          name="last_name"
          id="last_name"
        />
        <label for="newLastName">Apellido:</label>
        <input
          class="formInput"
          type="text"
          name="newLastName"
          id="newLastName"
          value="{{user.last_name}}"
          placeholder=""
          required
        />
      </div>
      <div class="formGroup">
        <input
          style="display:none"
          value="{{user.rank}}"
          type="text"
          name="rank"
          id="rank"
        />
        <label for="newRank">Grado:</label>
        <select class="formInput" id="newRank" name="newRank" required>
          <option value="" selected disabled>Grado actual:
            {{user.rank}}</option>
          <option value="PC">Personal Civil</option>
          <option value="MP">Marinero de Primera</option>
          <option value="CS">Cabo de Segunda</option>
          <option value="CP">Cabo de Primera</option>
          <option value="SOS">Sub Oficial de Segunda</option>
          <option value="SOP">Sub Oficial de Primera</option>
          <option value="SOC">Sub Oficial de Cargo</option>
          <option value="GM">Guardia Marina</option>
          <option value="AF">Alférez de Fragata</option>
          <option value="AN">Alférez de Navío</option>
          <option value="TN">Teniente de Navío</option>
          <option value="CC">Capitán de Corbeta</option>
          <option value="CF">Capitán de Fragata</option>
          <option value="CN">Capitán de Navío</option>
          <option value="CA">Contralmirante</option>
          <option value="ALM">Almirante</option>
        </select>
      </div>
      <div class="formGroup">
        <input
          style="display:none"
          value="{{user.role}}"
          type="text"
          name="role"
          id="role"
        />
        <label for="newRole">Rol:</label>
        <select class="formInput" id="newRole" name="newRole" required>
          <option value="" selected disabled>Rol actual: {{user.role}}</option>
          <option value="consulta">Consulta</option>
          <option value="user">Usuario</option>
          <option value="contable">Contable</option>
          <option value="admin">Administrador</option>
          <option value="superAdmin">Super Administrador</option>
        </select>
      </div>
      <div class="formGroup">
        <input
          style="display:none"
          value="{{user.email}}"
          type="text"
          name="email"
          id="email"
        />
        <label for="newEmail">Email:</label>
        <input
          class="formInput"
          type="email"
          name="newEmail"
          id="newEmail"
          value="{{user.email}}"
          placeholder=""
          required
        />
      </div>
      <div class="formGroup">
        <label for="newDataBody">Justificación:</label>
        <textarea
          class="formInputTextarea"
          name="newDataBody"
          id="newDataBody"
          placeholder="Breve justificación por la cual solicita la modificación de los datos..."
          required
        ></textarea>
        <p class="formAst">* Todos los datos son obligatorios. Algunos ya se
          encuentran precargados con la información disponible.</p>
      </div>
      <br />
      <div class="submitCont">
        <input id="formSubmit" type="submit" value="SOLICITAR ACTUALIZACIÓN" />
      </div>
    </form>
    <div id="subBodyText">
      <p><strong>LEA CON ATENCIÓN:</strong>
        Luego de solicitar la actualización de los datos, estos serán enviados a
        un administrador del sistema para chequear que no existan
        inconsistencias en los mismos.
        <strong>Recuerde que solo se actualizarán los cambios debidamente
          justificados.</strong>
        En caso de solicitar un cambio de jerarquía, prever colocar en la
        justificación el/los links a las evidencias.</p>
    </div>
    <div class="btnBackCont">
      <a class="btnBack" href="/index/home/">MENÚ PRINCIPAL</a>
    </div>
    <br />
  </div>
</div>